# Configuration file

entitiesalwaysinfernal {
    B:BlueSlime=false
    B:EntityArmorCreeper=false
    B:EntityBabySpider=false
    B:EntityBlindingEnderman=false
    B:EntityBrainyZombie=false
    B:EntityCreeper=false
    B:EntityCursedEnderman=false
    B:EntityDEnchantedBook=false
    B:EntityDMimic=false
    B:EntityDSkeletonWarrior=false
    B:EntityDSummoner=false
    B:EntityDarkCreeper=false
    B:EntityDeathCreeper=false
    B:EntityDesertSpider=false
    B:EntityDirtCreeper=false
    B:EntityDoomCreeper=false
    B:EntityDrowningCreeper=false
    B:EntityEldritchGuardian=false
    B:EntityEnderCreeper=false
    B:EntityEnderman=false
    B:EntityFestiveCreeper=false
    B:EntityFireCreeper=false
    B:EntityFireSkeleton=false
    B:EntityFireZombie=false
    B:EntityFishingZombie=false
    B:EntityFlyingSpider=false
    B:EntityGatlingSkeleton=false
    B:EntityGhost=false
    B:EntityGhostSpider=false
    B:EntityGiantSkeleton=false
    B:EntityGiantSpider=false
    B:EntityGiantZombie=false
    B:EntityGlob=false
    B:EntityHauntedTool=false
    B:EntityHungryZombie=false
    B:EntityIcyEnderman=false
    B:EntityInfestedVillager=false
    B:EntityJumpingCreeper=false
    B:EntityLightningCreeper=false
    B:EntityLightningEnderman=false
    B:EntityMantekitty=false
    B:EntityMiniCreeper=false
    B:EntityMiniEnderman=false
    B:EntityMirageEnderman=false
    B:EntityMotherSpider=false
    B:EntityPaleSpider=false
    B:EntityPech=false
    B:EntityPlagueZombie=false
    B:EntityPoisonSkeleton=false
    B:EntityPoisonSpider=false
    B:EntityRocketCreeper=false
    B:EntitySkeleton=false
    B:EntitySlime=false
    B:EntitySmallSpider=false
    B:EntitySniperSkeleton=false
    B:EntitySpider=false
    B:EntitySpitfireSkeleton=false
    B:EntitySplittingCreeper=false
    B:EntitySupportCreeper=false
    B:EntityThiefSkeleton=false
    B:EntityTreasureSlime=false
    B:EntityWebSpider=false
    B:EntityWisp=false
    B:EntityWitch=false
    B:EntityWitchSpider=false
    B:EntityZombie=false
}


entitybasehealth {
    D:EntityBlindingEnderman=41.0
    D:EntityBrainyZombie=25.0
    D:EntityCreeper=20.0
    D:EntityDEnchantedBook=20.0
    D:EntityDMimic=20.0
    D:EntityDarkCreeper=80.0
    D:EntityDoomCreeper=20.0
    D:EntityEldritchGuardian=50.0
    D:EntityEnderCreeper=40.0
    D:EntityEnderman=40.0
    D:EntityFireSkeleton=20.0
    D:EntityFireZombie=20.0
    D:EntityFishingZombie=20.0
    D:EntityGatlingSkeleton=40.0
    D:EntityHauntedTool=5.0
    D:EntityHungryZombie=30.0
    D:EntityInfestedVillager=4.0
    D:EntityJumpingCreeper=20.0
    D:EntityLightningEnderman=40.0
    D:EntityMiniEnderman=40.0
    D:EntityMirageEnderman=60.0
    D:EntityMotherSpider=32.0
    D:EntityPech=30.0
    D:EntityPlagueZombie=20.0
    D:EntityRocketCreeper=15.0
    D:EntitySkeleton=20.0
    D:EntitySmallSpider=16.0
    D:EntitySniperSkeleton=20.0
    D:EntitySpider=16.0
    D:EntitySpitfireSkeleton=40.0
    D:EntitySplittingCreeper=40.0
    D:EntitySupportCreeper=20.0
    D:EntityThiefSkeleton=20.0
    D:EntityTreasureSlime=1.0
    D:EntityWitch=26.0
    D:EntityZombie=20.0
}


general {
    I:AntiMobFarmCheckInterval=30
    B:AntiMobfarmingEnabled=true
    B:"MM_1UP enabled"=true
    B:"MM_Alchemist enabled"=false
    B:"MM_Berserk enabled"=true
    B:"MM_Blastoff enabled"=true
    B:"MM_Bulwark enabled"=true
    B:"MM_Choke enabled"=true
    B:"MM_Cloaking enabled"=true
    B:"MM_Darkness enabled"=true
    B:"MM_Ender enabled"=true
    B:"MM_Exhaust enabled"=true
    B:"MM_Fiery enabled"=true
    B:"MM_Ghastly enabled"=true
    B:"MM_Gravity enabled"=true
    B:"MM_Lifesteal enabled"=true
    B:"MM_Ninja enabled"=true
    B:"MM_Poisonous enabled"=true
    B:"MM_Quicksand enabled"=true
    B:"MM_Regen enabled"=true
    B:"MM_Rust enabled"=true
    B:"MM_Sapper enabled"=true
    B:"MM_Sprint enabled"=true
    B:"MM_Sticky enabled"=false
    B:"MM_Storm enabled"=true
    B:"MM_Vengeance enabled"=true
    B:"MM_Weakness enabled"=true
    B:"MM_Webber enabled"=false
    B:"MM_Wither enabled"=true

    # Disables the ingame Health and Name overlay
    B:disableGUIoverlay=false

    # List of equally likely to drop Items for Elites, seperated by commas, syntax: ID-meta-stackSize-stackSizeRandomizer, everything but ID is optional, see changelog
    S:droppedItemIDsElite=iron_shovel,iron_pickaxe,iron_axe,iron_sword,iron_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,iron_helmet,iron_chestplate,iron_leggings,iron_boots,cookie-0-6

    # List of equally likely to drop Items for Infernals, seperated by commas, syntax: ID-meta-stackSize-stackSizeRandomizer, everything but ID is optional, see changelog
    S:droppedItemIDsInfernal=diamond-0-3,diamond_sword,diamond_shovel,diamond_pickaxe,diamond_axe,diamond_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,diamond_helmet,diamond_chestplate,diamond_leggings,diamond_boots,ender_pearl,enchanted_book

    # List of equally likely to drop Items for Ultras, seperated by commas, syntax: ID-meta-stackSize-stackSizeRandomizer, everything but ID is optional, see changelog
    S:droppedItemIDsUltra=bow,iron_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,iron_helmet,iron_chestplate,iron_leggings,iron_boots,golden_helmet,golden_chestplate,golden_leggings,golden_boots,golden_apple,blaze_powder-0-3,enchanted_book

    # One in THIS many Mobs will become atleast rare
    I:eliteRarity=30

    # One in THIS many already ultra Mobs will become infernal
    I:infernoRarity=7

    # highest amount of damage an Infernal Mob or reflecting Mod will do in a single strike
    D:maxOneShotDamage=10.0
    D:mobFarmDamageThreshold=150.0

    # Multiplier applied ontop of all of the modified Mobs health
    S:mobHealthFactor=1.0

    # One in THIS many already rare Mobs will become atleast ultra
    I:ultraRarity=10

    # Use Entity class names instead of ingame Entity names for the config
    B:useSimpleEntityClassnames=true
}


permittedentities {
    B:BlueSlime=true
    B:EntityArmorCreeper=true
    B:EntityBabySpider=true
    B:EntityBlindingEnderman=true
    B:EntityBrainyZombie=true
    B:EntityCreeper=true
    B:EntityCursedEnderman=true
    B:EntityDEnchantedBook=true
    B:EntityDMimic=true
    B:EntityDSkeletonWarrior=true
    B:EntityDSummoner=true
    B:EntityDarkCreeper=true
    B:EntityDeathCreeper=true
    B:EntityDesertSpider=true
    B:EntityDirtCreeper=true
    B:EntityDoomCreeper=true
    B:EntityDrowningCreeper=true
    B:EntityEldritchGuardian=true
    B:EntityEnderCreeper=true
    B:EntityEnderman=true
    B:EntityFestiveCreeper=true
    B:EntityFireCreeper=true
    B:EntityFireSkeleton=true
    B:EntityFireZombie=true
    B:EntityFishingZombie=true
    B:EntityFlyingSpider=true
    B:EntityGatlingSkeleton=true
    B:EntityGhost=true
    B:EntityGhostSpider=true
    B:EntityGiantSkeleton=true
    B:EntityGiantSpider=true
    B:EntityGiantZombie=true
    B:EntityGlob=true
    B:EntityHauntedTool=true
    B:EntityHungryZombie=true
    B:EntityIcyEnderman=true
    B:EntityInfestedVillager=true
    B:EntityJumpingCreeper=true
    B:EntityLightningCreeper=true
    B:EntityLightningEnderman=true
    B:EntityMantekitty=true
    B:EntityMiniCreeper=true
    B:EntityMiniEnderman=true
    B:EntityMirageEnderman=true
    B:EntityMotherSpider=true
    B:EntityPaleSpider=true
    B:EntityPech=true
    B:EntityPlagueZombie=true
    B:EntityPoisonSkeleton=true
    B:EntityPoisonSpider=true
    B:EntityRocketCreeper=true
    B:EntitySkeleton=true
    B:EntitySlime=true
    B:EntitySmallSpider=true
    B:EntitySniperSkeleton=true
    B:EntitySpider=true
    B:EntitySpitfireSkeleton=true
    B:EntitySplittingCreeper=true
    B:EntitySupportCreeper=true
    B:EntityThiefSkeleton=true
    B:EntityTreasureSlime=true
    B:EntityWebSpider=true
    B:EntityWisp=true
    B:EntityWitch=true
    B:EntityWitchSpider=true
    B:EntityZombie=true
}


